<!-- challenge 2 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground Core Assignment</title>
</head>
<body>
    <h1 style="color:skyblue; text-align:center;">Xin Chao!</h1>

    <wrapper id="wrapper" style="max-width:950px; display: flex; justify-content:space-between">
    <div class = "box" style="height:250px; width:250px; background-color: red; margin: 20px; border-radius:20px;"></div>
    <div class = "box" style="height:250px; width:250px; background-color: red; margin: 20px; border-radius:20px;"></div>
    <div class = "box" style="height:250px; width:250px; background-color: red; margin: 20px; border-radius:20px;"></div>
    </wrapper>
</body>
</html>
