<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    <title>Counter With Sessions</title>
</head>
<body>

    <div class="container">
        <div class="text-center">
            <br>
            <br>
            <h1 class="text-info" >HOW MANY TIMES HAVE YOU HERE?</h1>
            <br>
            <br>
            <p> {{session['count']}} times </p>
            <form action="/addOne" type= "submit" method="post" >
                <button class="btn btn-primary mb-4">Counter</button>
            </form>

            <form action="/addTwo" type= "submit" method="post" >
                <button class="btn btn-primary mb-4">Counter +2 </button>
            </form>

            <form action="/reset" method="post">
                <button class="btn btn-primary mb-4">Reset</button>
            </form>

        </div>
    </div>


</body>
</html>